/* Importing Bootstrap SCSS file. */

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here


// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here


// 5. Import all the rest of Bootstrap 
@import "../node_modules/bootstrap/scss/bootstrap";





// Background
body {
    background-color: #faefe5; /* replace with your desired color value */
  }
  
// Text
$Default-Text-Color:black;
$Secondary-Text-Color:OrangeRed;

$Default-Text-Shadow:#aeb2aa;
$Small-Text-Color: #666;

[data-bs-theme="orange"] {

 .btn-dark {    
    --bs-btn-bg: Tomato;
    --bs-btn-border-color: #{rgba($white, .25)};
    --bs-btn-hover-bg: #{darken(Tomato, 5%)};
    --bs-btn-hover-border-color: #{rgba($white, .25)};
    --bs-btn-active-bg: #{darken(Tomato, 10%)};
    --bs-btn-active-border-color: #{rgba($white, .5)};
    --bs-btn-focus-border-color: #{rgba($white, .5)};
    --bs-btn-focus-box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .2);
 }
 .form-control:focus{
  border-color: Tomato;
  box-shadow: 0 0 0 .25rem #{lighten(Tomato, 20%)};//tomato
}
}
.mycolor{
    color:Tomato;
    //var(--bs-orange)
}
.span-text{
  font-size: 1.75rem;
}

// Image sizes
.cards-img{
    width: 100%;
    height: 400px;
} 


// Positioning
.center {
    display: flex;
    justify-content: center; /* center horizontally */
    align-items: center; /* center vertically */
  }
  


