<div class="container-xxl mt-5 justify-content-center">
  <div class="d-flex justify-content-center">
    <div class="card m-5 text-center maxw">
      <div class="card-body">
        <h2 class="card-title">{{ car.name }}</h2>
        <img
          [src]="car.imageSrc | safeResourceUrl"
          class="card-img"
          alt="..."
        />
        <button
          routerLink="/Cars/{{ car.id }}/Success"
          class="btn btn-dark mt-2 float-end"
          type="button"
        >
          Choose
        </button>
      </div>
    </div>
  </div>
</div>
