<div class="container-xxl mt-5" data-bs-theme="orange">
  <div *ngIf="!LoggedIn" class="mymax-w">
    <form class="form-signin" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <h1 class="center mycolor">Login</h1>
      <div *ngIf="invalidLogin" class="alert alert-danger">
        Invalid name or password
      </div>
      <br />
      <div>
        <label for="name" class="sr-only">Name:</label>
        <input
          name="name"
          type="text"
          id="name"
          ngModel
          class="form-control"
          placeholder="Name"
          required
          autofocus
        />
      </div>
      <div>
        <label for="password" class="sr-only">Password:</label>
        <input
          name="password"
          type="password"
          id="password"
          ngModel
          class="form-control"
          placeholder="password"
          required
          autofocus
        />
      </div>
      <div class="mt-3">
        <span class="">hint: read the Readme</span>
        <button class="btn btn-dark float-end" type="submit">Login</button>
      </div>
    </form>
  </div>
  <div *ngIf="LoggedIn" class="logged-max-w">
    <div class="d-flex flex-column align-items-center">
      <h1 class="mycolor">You are logged in !</h1>
      <div class="m-5">
        <button routerLink="/Admin/" class="btn btn-dark" type="button">
          Admin dashboard
        </button>
      </div>
    </div>
  </div>
</div>
