<nav class="navbar navbar-light navbar-expand-lg" style="background-color: white;">
  <div class="container-fluid" data-bs-theme="orange">
 <a class="navbar-brand" routerLink="Home">
      <img class="rounded" src="logos\First_Stage_logoCrop.jpg" alt="Initial D" width="90">
    </a>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="Home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Admin">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="Login">Login</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            routerLink="/"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
          
            find by brand
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item" routerLink="Cars/Nissan">Nissan</a>
            </li>
            <li><a class="dropdown-item" routerLink="Cars/Toyota">Toyota</a></li>
            <li><a class="dropdown-item" routerLink="Cars/Mazda">Mazda</a></li>
            <li>
              <a class="dropdown-item" routerLink="Cars/Mitsubishi">Mitsubishi</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="Cars/Honda">Honda</a>
            </li>
            <li><a class="dropdown-item" routerLink="Cars/Subaru">Subaru</a></li>
            <li><a class="dropdown-item" routerLink="Cars">Display all cars</a></li>
          </ul>
        </li>
      </ul>
     
      <div *ngIf="LoggedIn">
        <button type="button" class="btn btn-danger" (click)="logout()">
          Logout
        </button>
      </div>
      <input [(ngModel)]="LoggedIn" type="hidden" />
    
    </div>

    <form class="d-flex" (ngSubmit)="search()">
      <input
        [formControl]="searchQuery"
        class="form-control me-2"
        type="search"
        [value]="searchError ? searchResult : searchQuery.value"
        placeholder="Search For A Car Name"
        [ngClass]="{ 'input-error': searchError }"
        aria-label="Search"
      />
      <button class="btn btn-secondary" type="submit">Search</button>
    </form>
  </div>
</nav>
